<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<script src="../../asserts/js/dialog/jquery-1.10.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../asserts/css/bootstrap.min.css">
<script type="text/javascript" src="../../asserts/js/angular/angular.min.js" ></script>
<script src="../../asserts/js/bootstrap.min.js"></script>
<style type="text/css">
.centerforward {
	display: inline;
    font-size: 12px;
}
.firstforward {
	display: inline;
    font-size: 12px;
    color: #aeaeae;
}
.centernext {
	display: inline;
    font-size: 12px;

}
.lastnext {
	display: inline;
    font-size: 12px;
    color: #aeaeae;

}
</style>
</head>

<body ng-app="orderApp" >
<div  ng-controller="orderController">
	<input type="text" class="form-control" placeholder="请输入密码" ng-model="pass" style="width:20%;">
	<button type="button" class="btn btn-primary" ng-click="validatePass()">确定</button>

	<div class="container">
	  <table class="table table-hover">
	    <thead>
	      <tr>
	      	<th>ID</th>
	        <th>账号</th>
	        <th>厂家</th>
	        <th>型号</th>
	        <th>单价</th>
	        <th>数量</th>
	        <th>总价</th>
	        <th>下单时间</th>
	        <th>修改</th>
	        <th>删除</th>
	        <th>增加一条</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in result.rows">
	      	<td> {{item.id}} </td>
	        <td> {{item.account}} </td>
	        <td> {{item.manufactures}} </td>
	        <td> {{item.model}} </td>
	        <td> {{item.perprice}} </td>
	        <td> {{item.num}} </td>
	        <td> {{item.allprice}} </td>
	        <td> {{item.orderdt}} </td>
	        <td><button type="button" class="btn btn-info" ng-click="editClick(item)" data-toggle="modal" data-target="#edit">修改</button></td>
	        <td><button type="button" class="btn btn-info" ng-click="delete(item)">删除</button></td>
	        <th><button type="button" class="btn btn-info" ng-click="addClick()" data-toggle="modal" data-target="#edit">增加一条</button></th>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	   <div class="form-inline pull-right" style="margin-right:150px;">
			<span class="{{forward}} " ng-click="forwardPage()" style="text-decoration:none;cursor:pointer">上一页</span>
			<span style="font-size: 12px;">{{pageInfo.page}}/{{totalPage}}</span>
			<span class="{{next}} " ng-click="nextPage()" style="text-decoration:none;cursor:pointer">下一页</span>
		</div>
	<br>
	<br>
	<br>
	<br>
<!-- 模态框（Modal） -->  
<div class="modal fade" id="edit" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              	{{modelTitle}}
            </h4>
         </div>
         <div class="modal-body">
             ID：<input type="text" class="form-control" id="pri" readonly/>
                                   账号：<input type="text" class="form-control" id="account" />
                                   厂商：<input type="text" class="form-control" id="manufactures"/> 
         	   型号：<input type="text" class="form-control" id="model"/> 
         	   单价：<input type="text" class="form-control" id="perprice"/> 
         	   数量：<input type="text" class="form-control" id="num"/> 
         	   总价：<input type="text" class="form-control" id="allprice"/> 
         	   下单时间：<input type="text" class="form-control" id="orderdt" readonly/> 
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" ng-click="submit()">
               保存
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
<!-- 模态框（Modal）end --> 
</div>

<script type="text/javascript">
var app2 = angular.module('orderApp',[]);
app2.controller('orderController', ['$scope','$http', function($scope,$http) {
	$scope.pageInfo = {
		page: 1,  //首页为1
		rows: 10   //默认每页10条数据
	};
	$scope.result = {
			total: '', //获取结果总条数
			rows: ''   //获取结果记录列表
	};
	$scope.forward = ''; //控制上一页样式
	$scope.next = ''; //控制下一页样式
	$scope.totalPage = 1; //总页数
	$scope.pass = '';
	$scope.validatePass = function() {
		if($scope.pass == 'wmt') {
			$scope.pageInit();
		}
	};
	$scope.modelTitle = '';
	$scope.type = ''; //点击方法
	 //页面初始化
	 $scope.pageInit = function() {
		 $http({
	            url: '/store/order/forordershow',
	            method: 'POST',
	            data: $scope.pageInfo,
	            headers: {
	                'Accept': '*/*',
	                'Content-Type': 'application/json; charset=UTF-8'
	            }
     	 })
     	.success(function(data){
	       	 if(data.status == 200) {
	       		 $scope.result.total = data.data.total;
	       		 $scope.result.rows = data.data.rows;
	       		 $scope.ifSearch = false;
	       	 } else if(data.status == 800) {
	       		 $state.go("login");
	       	 }
	       	 else {
	       		 console.log("查询出错");
	       	 }
	       	//渲染结果页面
	       	 $scope.totalPage = parseInt($scope.result.total/$scope.pageInfo.rows) + 1;
	       	 if($scope.pageInfo.page==1) {
	   			 $scope.forward = "firstforward";
	   		 } else {
	   			 $scope.forward = "centerforward";
	   		 }
	   		 if($scope.pageInfo.page==$scope.totalPage) {
	   			 $scope.next = "lastnext";
	   		 } else {
	   			 $scope.next = "centernext"; 
	   		 }
	     }); 
	 };
	 
	//查询下一页数据
	 $scope.nextPage = function() {
		if($scope.pageInfo.page==$scope.totalPage) //查到最后一页，不执行下一页
			return false;
		$scope.pageInfo.page = $scope.pageInfo.page + 1; //查询当前页
		
		//后端请求数据
		 $http({
			 url: '/store/order/forordershow',
	            method: 'POST',
	            data: $scope.pageInfo,
	            headers: {
	                'Accept': '*/*',
	                'Content-Type': 'application/json; charset=UTF-8'
	            }
         })
         .success(function(data){
        	 if(data.status == 200) {
        		 $scope.result.total = data.data.total;
        		 $scope.result.rows = data.data.rows;
        	 } else {
        		 console.log("查询出错");
        	 }
        	//渲染结果页面
        	 $scope.totalPage = parseInt($scope.result.total/$scope.pageInfo.rows) + 1;
        	 if($scope.pageInfo.page==1) {
    			 $scope.forward = "firstforward";
    		 } else {
    			 $scope.forward = "centerforward";
    		 }
    		 if($scope.pageInfo.page==$scope.totalPage) {
    			 $scope.next = "lastnext";
    		 } else {
    			 $scope.next = "centernext"; 
    		 }
	     }); 
		 
	 }
	
	//查询上一页数据
	 $scope.forwardPage = function() {
		 if($scope.pageInfo.page==1) //查到第一页，不执行上一页
				return false;
			$scope.pageInfo.page = $scope.pageInfo.page - 1; //查询当前页
			
			//后端请求数据
			 $http({
				 url: '/store/order/forordershow',
		            method: 'POST',
		            data: $scope.pageInfo,
		            headers: {
		                'Accept': '*/*',
		                'Content-Type': 'application/json; charset=UTF-8'
		            }
	         })
	         .success(function(data){
	        	 if(data.status == 200) {
	        		 $scope.result.total = data.data.total;
	        		 $scope.result.rows = data.data.rows;
	        	 } else {
	        		 console.log("查询出错");
	        	 }
	        	//渲染结果页面
	        	 $scope.totalPage = parseInt($scope.result.total/$scope.pageInfo.rows) + 1;
	        	 if($scope.pageInfo.page==1) {
	    			 $scope.forward = "firstforward";
	    		 } else {
	    			 $scope.forward = "centerforward";
	    		 }
	    		 if($scope.pageInfo.page==$scope.totalPage) {
	    			 $scope.next = "lastnext";
	    		 } else {
	    			 $scope.next = "centernext"; 
	    		 }
		     }); 
			
	 }
	
	$scope.editClick = function(item) {  //触发修改
		$scope.modelTitle = '订单表修改';
		$scope.type = '1'; //点击方法
		
		$('#pri').val(item.id); 
		$('#account').val(item.account); 
		$('#manufactures').val(item.manufactures); 
		$('#model').val(item.model); 
		$('#perprice').val(item.perprice); 
		$('#num').val(item.num); 
		$('#allprice').val(item.allprice); 
		$('#orderdt').val(item.orderdt); 
	};
	
	$scope.addClick = function() { //触发增加
		$scope.modelTitle = '订单表增加';
		$scope.type = '2'; //点击方法
		
		$('#pri').val(''); 
		$('#account').val(''); 
		$('#manufactures').val(''); 
		$('#model').val(''); 
		$('#perprice').val(''); 
		$('#num').val(''); 
		$('#allprice').val(''); 
		$('#orderdt').val(''); 
	}
	
	$scope.submit = function() {  //提交
		if($scope.type == '1')
			$scope.editOrder();
		if($scope.type == '2')
			$scope.addOrder();
	}
	
	//保存到数据库
	$scope.editOrder = function() {
		var order = {
			id:	$('#pri').val(),
			account: $('#account').val(),
			manufactures: $('#manufactures').val(),
			model:	$('#model').val(),
			perprice: $('#perprice').val(),
			num: $('#num').val(),
			allprice: $('#allprice').val(),
			orderdt: $('#orderdt').val()
		};
		
		 $http({
			 url: '/store/order/edit',
	            method: 'POST',
	            data: order,
	            headers: {
	                'Accept': '*/*',
	                'Content-Type': 'application/json; charset=UTF-8'
	            }
         })
         .success(function(data){
        	 if(data.status == 200) {
        		 alert("提交成功！");
        		 $scope.pageInit();
        	 } else if(data.status == 601) {
        		 alert("提交参数出错！");
        	 } else {
        		 alert("提交失败，服务器出错！");
        	 }
        	
	     }); 	
	};
	
	
	$scope.delete = function(item) {  //触发删除
		 if (confirm("您真的确定要删除吗？")==true){ 
			 $http({
				 url: '/store/order/delete',
		            method: 'POST',
		            data: item.id,
		            headers: {
		                'Accept': '*/*',
		                'Content-Type': 'application/json; charset=UTF-8'
		            }
	         })
	         .success(function(data){
	        	 if(data.status == 200) {
	        		 alert("提交成功！");
	        		 $scope.pageInit();
	        	 } else if(data.status == 601) {
	        		 alert("提交参数出错！");
	        	 } else {
	        		 alert("提交失败，服务器出错！");
	        	 }
		     }); 
		  } else{ 
			  return false; 
		  } 
	};
	
	
	//保存到数据库
	$scope.addOrder = function() {  //增加一条
		if($('#manufactures').val()=='' || $('#model').val()=='' || $('#allprice').val()=='' ||
			$('#perprice').val()=='' || $('#account').val()=='' ||$('#num').val()=='') {
			alert("厂商、型号、单价、总价、数量不能为空！");
			return false;
		}

		var order = {
			id:	$('#pri').val(),
			account: $('#account').val(),
			manufactures: $('#manufactures').val(),
			model:	$('#model').val(),
			perprice: $('#perprice').val(),
			num: $('#num').val(),
			allprice: $('#allprice').val(),
			orderdt: $('#orderdt').val()
		};
		
		 $http({
			 url: '/store/order/add',
	            method: 'POST',
	            data: order,
	            headers: {
	                'Accept': '*/*',
	                'Content-Type': 'application/json; charset=UTF-8'
	            }
         })
         .success(function(data){
        	 if(data.status == 200) {
        		 alert("提交成功！");
        		 $scope.pageInit();
        	 } else if(data.status == 601) {
        		 alert("提交参数出错！");
        	 }  else {
        		 alert("提交失败，服务器出错！");
        	 }
        	
	     }); 	
	};
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}]);



</script>
</body>
</html>